		<a href="/"><img src="/images/logo.png"></a>
		<div id="encabezado">
		</div>
		<div id="menu">
			 <ul>
				  <li><a href="/login">LOGIN</a></li>
				  <li><a href="/register">NUEVO USUARIO</a></li>
			</ul> 
		</div>
		</div>