<%- include("cabecera") %>
<div id="container">
  <p id="saludo"><strong> |Nueva Partida!</strong></p>
  <h5 id="texto2"><em>Introduce los datos de la partida:</em></h5>
  <div class="reformed-form">
    <form id="formulario" action="/crearPartida" method="POST">
      <dl>
        <dt>
          <label for="nomb">Nombre:</label>
        </dt>
        <dd><input id="nomb"  name="nombrePartida" type="text" /></dd>
      </dl>
      <dl>
        <dt>
          <label for="players">Número máximo de jugadores (entre 3 y 7)::</label>
        </dt>
        <dd><input id="players" name="numJugadores" type="number" size="1" min="3" max="7"/></dd>
      </dl>
      <div id="submit_buttons">
        <button type="submit">Crear Partida</button>
      </div>
    </form>
  </div>
  <br><a href="/">Volver a la página de usuario</a>
</div>
</body>
</html>
