<!--<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>-->
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title><%= title %></title>
		<link href="/stylesheets/saboteur.css" rel="stylesheet"/>
		<script src="form.js" language="javascript" type="text/javascript"></script>
	</head>
	<body id="all">
		<a href="index.html"><img src="/images/logo.png"></a>
		<div id="encabezado">
		
		</div>
		<div id="menu">
			 <ul>
				  <li><a href="login.html">LOGIN</a></li>
				  <li><a href="formulario.html">NUEVO USUARIO</a></li>
			</ul> 
		</div>
		<div id="container">
			<p id="saludo"><strong> |&#160;Bienvenido!</strong></p>
			<h4 id="texto">Puedes identificarte o crear una nueva cuenta de usuario.</h4>
		</div>
	</body>
</html>