	<%- include("cabecera") %>
		<div id="container">
            <% if(usuario){ %>
			<p>Hay login</p>
            <% } else{ %>
			<p id="saludo"><strong> |&#160;Bienvenido!</strong></p>
			<h4 id="texto">Puedes identificarte o crear una nueva cuenta de usuario.</h4>
            <% } %>
		</div>
	</body>
</html>
