<%- include("cabecera") %>
<div id="container">
  <p id="saludo"><strong> |Partida: </strong></p>
  <h5 id="texto2"><em>
  Creada por:<br>
  Jugadores:<br>
  Turno de:<br>
  Turnos restantes:</em></h5>

<p id="saludo"><strong> |Tablero: </strong></p>

  <table width="700" height="700px"; border="0" cellspacing="2" cellpadding="2" bgcolor="#FFFFFF" align="center">
    <tr align="center">
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
    </tr>
    <tr align="center">
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
    </tr>
    <tr align="center">
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
    </tr>
    <tr align="center">
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
    </tr>
    <tr align="center">
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
    </tr>
    <tr align="center">
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
    </tr>
    <tr align="center">
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
      <td bgcolor="#61380B"></td>
    </tr>
  </table>

  <p id="saludo"><strong> |Tus cartas: </strong></p>


  <p id="saludo"><strong> |Comentarios: </strong></p>
</div>
</body>
</html>
