<%- include("cabecera") %>
<div id="container">
  <p id="saludo"><strong> |Unirse a Partida!</strong></p>
  <h5 id="texto2"><em>A continuación se muestra una lista con las partidas abiertas que admiten jugadores.</em></h5>
  <div id="tablas">
        <table id="bordes">
          <tr>
            <td id="encabe">Nombre</td ><td id="encabe">Fecha</td><td id="encabe">Número de Jugadores</td><td id="encabe">Jugadores Apuntados</td>
          </tr>
          <tr>
            <td id="cel"></td><td id="cel"></td><td id="cel"></td><td id="cel"></td><td id="cel">Unirse</td>
          </tr>
        </table>
  </div>
  <br><a href="/">Volver a la página de usuario</a>
</div>
</body>
</html>
